/* your beautiful css styling goes here! */

/* Note: an asteroid image is included in this repo.
Feel free to use it if you like. */

body {
  background: rgb(80, 80, 80);
}

.scoreboard {
  width: 700px;
  height: 578px;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  background: #ffffff;
  border-radius: 5px;
}

h1{
  margin: 11px 0 0 0;
  font-family: 'Open Sans', 'sans-serif';
   font-weight: 700;
   color: #686868;
   font-size: 34px;
}

h3 {
  margin: -9px 0 0 0;
  font-family: 'Open Sans', 'sans-serif';
  font-weight: 300;
  font-style: italic;
  color: #919191;
  font-size: 17px;
}

.high {
  margin-left:21px;
}

.current {

}

.collisions {
  margin-left:30px;
}

#titleDiv {
  font-family: 'Oswald', 'sans-serif';
  font-weight: 300;
  color: #743843;
  padding: 17px 0 0 60px;
  float: left;
  width:250px;
  height:98px;
  /*background: rgba(10,10,10,0.2);*/
}

#scoreDiv {
  color: #A39F9F;
  font-family: 'Open Sans', 'sans-serif';
  font-weight: 300;
  padding: 14px 20px 20px 164px;
  /*margin: 30px 30px 0 0;*/
  float:right;
  border-radius: 5px;
  width:166px;
  background: #F7F7F7;
  /*background: url(star.png);*/
}

#spanHigh {
  color: #777777;
}

#spanCurrent {
  color: #777777;
}

#spanCollisions {
  color: #777777;
}

svg {
  background: #E7E7E7;
  border-radius: 5px;
}

circle {
  fill: #B3B3B3;
}
